@model MVCCoreApp.Models.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>hahahaha</h1>
    <h2>@ViewBag.mess</h2>
    <h3>@Model.Mess</h3>
</body>
</html>
