
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostByName</title>
</head>
<body>
    <h1>string @ViewBag.data with conditions min length 6</h1>
</body>
</html>
