
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostById</title>
</head>
<body>
    <h1>int @ViewBag.data with regex 4 number</h1>
</body>
</html>
